@font-face {
    font-family: 'pixellari';
    src: url('/Pixellari/pixellari-webfont.woff2') format('woff2'),
         url('/Pixellari/pixellari-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}